
<tr>
<td>1712</td>
<td title="main thread">main</td>
<td title="Level"><font color="#993300"><strong>ERROR</strong></font></td>
<td title="org.springframework.boot.SpringApplication logger">org.springframework.boot.SpringApplication</td>
<td title="Message">Application run failed</td>
</tr>
<tr><td bgcolor="#993300" style="color:White; font-size : small;" colspan="6">java.lang.Error: Unresolved compilation problem: 
<br />&nbsp;&nbsp;&nbsp;&nbsp;	Syntax error on token &quot;Invalid Character&quot;, delete this token
<br />&nbsp;&nbsp;&nbsp;&nbsp;
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.DemoSpringBootLog4jApplication.run(DemoSpringBootLog4jApplication.java:31)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:767)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.callRunners(SpringApplication.java:751)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:309)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1301)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1290)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.DemoSpringBootLog4jApplication.main(DemoSpringBootLog4jApplication.java:20)
</td></tr>
</table>
<br>
</body></html>

<tr>
<td>1640</td>
<td title="main thread">main</td>
<td title="Level"><font color="#993300"><strong>ERROR</strong></font></td>
<td title="com.infy.service.CustomerLoginServiceImpl logger">com.infy.service.CustomerLoginServiceImpl</td>
<td title="Message">Service.WRONG_CREDENTIALS</td>
</tr>
<tr><td bgcolor="#993300" style="color:White; font-size : small;" colspan="6">java.lang.Exception: Service.WRONG_CREDENTIALS
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.service.CustomerLoginServiceImpl.authenticateCustomer(CustomerLoginServiceImpl.java:24)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.controller.CustomerLoginController.authenticateCustomer(CustomerLoginController.java:16)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.DemoSpringBootLog4jApplication.run(DemoSpringBootLog4jApplication.java:31)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:767)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.callRunners(SpringApplication.java:751)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:309)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1301)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1290)
<br />&nbsp;&nbsp;&nbsp;&nbsp;	at com.infy.DemoSpringBootLog4jApplication.main(DemoSpringBootLog4jApplication.java:20)
</td></tr>
</table>
<br>
</body></html>